body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: default;
} 

.enrollment-wrapper {
    background-color: #363636;
    width: 100%;
    height: 95%;
}

.sign-in-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 400px;
    margin-top: 150px;
    font-family: "Comic Sans MS", sans-serif;
    color: #ABA9AA;
}

.sign-in-wrapper p, a, input {
    all: unset;
}

input {
    background-color: rgba(255,255,255,0.26229508196721313);
    color: #dadada;
    padding: 8px;
    width: 160px;
}

.sign-up-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 30px;
    margin-top: 60px;
}

#sign-up {
    margin-left: 5px;
}

#sign-up, .forgot-pass {
    transition: 0.3s;
    text-decoration: underline;
}

#sign-up:hover {
    cursor: pointer;
    color: white;
}

.forgot-pass:hover {
    cursor: pointer;
    color: white;
}

input:hover {
 cursor: text;
}

.input-name {
    padding: 10px;
}


.form-wrapper {
    width: 300px;
    transition: 0.3s;
}

.login-button {
    background-color: #00D5B6;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 128px;
    font-size: 16px;
    opacity: 0.8;
    transition: 0.3s;
    outline: 0;
}

.login-button:hover {
    opacity: 1;
    cursor: pointer;
}

.form-wrapper form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#dot {
    color: #00D5B6;
}


.banner a{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 34px;
}

.banner:hover {
    color: #00D5B6;
    cursor: pointer;
}

.banner-text {
    margin-left: 10px;
}

.disappear {
    display: none !important;
}

.success {
    border: 1px solid #00D5B6;
}

.error {
    border: 1px solid rgb(253, 75, 75);
}

#error {
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: visibility 1s, opacity 0.5s linear;
    margin-top: 20px;
    width: 300px;
    color: rgb(253, 75, 75);
}

.afterRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homeA {
    text-align: center;
    all: unset;
    transition: 0.4s;
    margin-top: 20px;
}

.homeA:hover {
    color:#00D5B6;
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width:425px) {
    .banner {
        display: none;
    }
    .sign-in-wrapper {
        margin-top: 70px;
    }
}