.footer-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 5%;
    color: #ABA9AA;
    background-color: #363636;
    font-family: "Comic Sans MS", sans-serif;
    overflow: hidden;
}

.footer {
    height: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    width: fit-content;
    text-align: center; 
}

.fa-php, .fa-js {
    color: #00D5B6;
    font-size: 24px;
    margin: 0px 6px;
}

.fa-js {
    font-size: 22px;
}

@media only screen and (max-width: 375px) {
    .footer {
        display: none;
    }
}