header {
    height: 10%;
    background-color: #262626;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100%;
    width: 100%;
    overflow: hidden;
}

.banner {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
    color: #ABA9AA;
    overflow: hidden;
}

.banner-text {
    margin-left: 4%;
    white-space: nowrap;
}

#dot {
    display: flex;
    color:#00D5B6;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.header-button button {
    background-color: #00D5B6;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    opacity: 0.8;
    transition: 0.3s;
    outline: 0;
    font-family: "Comic Sans MS", sans-serif;
}

.header-button button:hover {
    opacity: 1;
    cursor: pointer;
}

.header-button a {
    transition: 0.3s;
    text-decoration: none;
    color: #FFFFFF;
}

.header-button a:hover {
    color: #0E9E84;
}

.fa-grav {
    font-size: 1.6em;
}

@media only screen and (max-width: 425px) {
    header {
        grid-template-columns: 1fr;
    }
}