body {
    margin: 0;
    padding: 0;
}

.main {
    display: grid;
    grid-template-columns: 1fr; 
    width: 100%;
    height: 85%;
    background-color: #363636;
}

@media only screen and (max-width: 414px) {
    .banner {
        display: none;
    }
}