body {
    margin: 0;
    padding: 0;
}

.makephoto-wrapper {
    display: grid;
    grid-template-columns: 1fr; 
    width: 100%;
    height: 85%;
    background-color: #363636;
}

#canvas {
    display: none;
}

