body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: default;
} 

p, a, input {
    all: unset;
}

input {
    background-color: rgba(255,255,255,0.26229508196721313);
    color: #dadada;
    padding: 8px;
    margin: 10px 10px;
    width: 160px;
}

.pass-wrapper {
    display: flex;
    justify-content: center;
   
    width: 100%;
    height: 100%;
    background-color: #363636;
}

.restore-header {
    margin: 15px 0px 0px;
}

.restore-input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.restore-wrapper {
    display: flex;
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
    color: #ABA9AA;
}

#restore-input {
    width: 300px;
}

input:hover {
    cursor: pointer;
}

.sent-button {
    background-color: #00D5B6;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 128px;
    font-size: 16px;
    opacity: 0.8;
    transition: 0.3s;
    outline: 0;
}

.sent-button:hover {
    opacity: 1;
    cursor: pointer;
}

.home-a {
    text-align: center;
    all: unset;
    transition: 0.4s;
}

.sorry {
    margin: 20px 0px;
}
.home-a:hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.error-message {
    font-size: 18px;
    font-family: "Comic Sans MS", sans-serif;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: visibility 1s, opacity 0.5s linear;
    margin-top: 10px;
    color: rgb(253, 75, 75);
}

.error {
    visibility: visible;
    opacity: 1;
    color: rgb(253, 75, 75);
}