header {
    height: 10%;
    background-color: #262626;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100%;
    position: fixed;
    width: 100%;
}

.banner {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.navbar button {
    background-color: #00D5B6;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    opacity: 0.8;
    transition: 0.3s;
}

.navbar button:hover {
    opacity: 1;
}

.navbar a {
    transition: 0.3s;
    text-decoration: none;
    color: #FFFFFF;
}

.navbar a:hover {
   
    color: #0E9E84;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    display: grid;
    grid-template-columns: 1fr; 
    height: 90%;
}

.join {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    border: 2px solid black;
}

.join img {
    width: 100%;
    height: 100%;
}


footer {
    height: 5%;
    color: #ABA9AA;
    background-color: #363636;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media only screen and (max-width: 414px) {
    .banner {
        display: none;
    }
    header {
        grid-template-columns: 1fr;
    }
}